<h1>パスワードの再設定</h1>

<p>パスワードの再設定を行う場合、下記リンクをクリックしてください。</p>
<%= link_to "パスワード再設定", api_v1_edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>※リンク有効期限：発行より２時間</p>

<p>パスワード再設定のリクエストに覚えがない場合は、このメールを無視してください。</p>
