<p><%= @user.name %>様</p>

<p>
パスワード再設定リンクを送ります。<br>
下記リンクをクリックいただき、"睡眠補完計画"のパスワード再設定ページに移動し、<br>
新しいパスワードを再設定してください。
</p>

<%= link_to "パスワード再設定ページに移動する",
    "https://sleepingdebtplan.com/password_resets/#{@user.reset_token}/edit?email=#{@user.email}"
    # "http://localhost:8000/password_resets/#{@user.reset_token}/edit?email=#{@user.email}"
%>

<p>
※ リンクの有効期限は発行して2時間です<br>
※ ユーザー登録にお心当たりのない場合、このメールを破棄してください<br>
※ このメールには返信できません
<p>


========================================================<br>
<br>
「睡眠補完計画」<br>
日々の睡眠不足が借金のようにじわじわ積み重なる「睡眠負債」の返済サポートサービス<br>
<br>
========================================================
