# 開発&テスト
/backend/.bundle/
/backend/db/*sqlite3
/backend/tmp/
/backend/log/
/backend/.byebug_history
/backend/.rspec
/backend/.ruby-version

# 環境変数
/backend/.env

# dependencies
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/node_modules/.cache


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

