version: 2.1

# orbs: 
#   aws-ecr: circleci/aws-ecr@7.3.0
#   aws-ecs: circleci/aws-ecs@2.2.1

executors:
  default:
    docker:
      # ローカルテスト用
      # - image: app_api:latest
      - image: "${AWS_ECR_ACCOUNT}/app_api:${CIRCLE_SHA1}"
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY
          aws_secret_access_key: $AWS_SECRET_KEY
    working_directory: ~/sleepingdebtplan/backend
      # - image: $AWS_ECR_ACCOUNT/app_nginx
      # - image: $AWS_ECR_ACCOUNT/app_web
        
jobs:
  build:
    executor: default
    steps:
      - checkout

  syntax-check:
    executor: default
    steps:
      - run:
          name: rubocopの構文規則チェック
          command: rubocop -a
  test:
    executor: 
      name: default
    steps:
      - run:
          name: rspecのテスト
          command: rspec

workflows:
  check_and_test:
    jobs:
      - build
      - syntax-check:
          requires:
            - build
      - test:
          requires:
            - build

  # nginx-build-and-deploy:
  #  jobs:
  #     - aws-ecr/build-and-push-image:
  #       account-url: ${AWS_ECR_ACCOUNT}
  #       region: ${AWS_REGION}
  #       repo: 'app_nginx'
  #       tag: '${CIRCLE_SHA1}'
  #       only: master
  #     - aws-ecs/deploy-service-update:
  #       cluster-name: '${MY_APP_PREFIX}-cluster'
  #       container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
  #       family: '${MY_APP_PREFIX}-service'
  #       requires:
  #       - aws-ecr/build-and-push-image

  #   api-build-and-deploy:
  #     - aws-ecr/build-and-push-image:
  #       account-url: ${AWS_ECR_ACCOUNT}
  #       region: ${AWS_REGION}
  #       repo: 'app_api'
  #       tag: '${CIRCLE_SHA1}'
  #       only: master
  #     - aws-ecs/deploy-service-update:
  #       cluster-name: '${MY_APP_PREFIX}-cluster'
  #       container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
  #       family: '${MY_APP_PREFIX}-service'
  #       requires:
  #       - aws-ecr/build-and-push-image

  #   web-build-and-deploy:
  #     - aws-ecr/build-and-push-image:
  #       account-url: ${AWS_ECR_ACCOUNT}
  #       region: ${AWS_REGION}
  #       repo: 'app_web'
  #       tag: '${CIRCLE_SHA1}'
  #       only: master
  #     - aws-ecs/deploy-service-update:
  #       cluster-name: '${MY_APP_PREFIX}-cluster'
  #       container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
  #       family: '${MY_APP_PREFIX}-service'
  #       requires:
  #       - aws-ecr/build-and-push-image
