version: 2.1

orbs: 
  aws-ecr: circleci/aws-ecr@7.3.0
  aws-ecs: circleci/aws-ecs@2.2.1

executors:
  default:
    docker:
      # ローカルテスト用
      # - image: app_api:latest
      - image: ${AWS_ECR_ACCOUNT}/app_api
        aws_auth:
          aws_access_key_id: AWS_ACCESS_KEY_ID
          aws_secret_access_key: AWS_SECRET_ACCESS_KEY	
        
jobs:
  build:
    executor: default
    steps:
      - checkout
  syntax-check:
    executor: default
    steps:
      - run:
          name: rubocopの構文規則チェック
          command: rubocop -a
  test:
    executor: default
    steps:
      - run:
          name: rspecのテスト
          command: rspec

workflows:
  check_and_test:
    jobs:
      - build
      - syntax-check:
          requires:
            - build
      - test:
          requires:
            - build
  api-deploy:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT
          region: AWS_REGION
          dockerfile: ./backend/Dockerfile
          repo: app_api
          tag: "${CIRCLE_SHA1}"
          filters:
            branches:
              only: main
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          family: 'sleepingdebtplan-3'
          cluster-name: "${ESC_CLUSTER_ARN}"
          service-name: 'sleepingdebtplan-service'
          container-image-name-updates: "container=api,tag=${AWS_ECR_ACCOUNT}/app_api:${CIRCLE_SHA1}"
  nginx-deploy:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT
          region: AWS_REGION
          dockerfile: ./nginx/Dockerfile
          repo: app_nginx
          tag: "${CIRCLE_SHA1}"
          filters:
            branches:
              only: main
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          family: 'sleepingdebtplan-3'
          cluster-name: "${ESC_CLUSTER_ARN}"
          service-name: 'sleepingdebtplan-service'
          container-image-name-updates: "container=nginx,tag=${AWS_ECR_ACCOUNT}/app_nginx:${CIRCLE_SHA1}"
