version: 2.1

orbs: 
  aws-ecr: circleci/aws-ecr@7.3.0
  aws-ecs: circleci/aws-ecs@2.2.1

executors:
  default:
    docker:
      - image: ${AWS_ECR_ACCOUNT}/app_api
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY
          aws_secret_access_key: $AWS_SECRET_KEY
    working_directory: ~/sleepingdebtplan
      # - image: ${AWS_ECR_ACCOUNT}/app_nginx
      # - image: ${AWS_ECR_ACCOUNT}/app_web
        
jobs:
  build:
    executors: default
    steps:
      - checkout
  test_rspec:
    executors: default
    steps:
      - checkout
      - run:
  check_rubocop:
    executors: default
    steps:
      - checkout
      - run:


workflows:
  test:
    jobs:
      - check_rubocop
      - test_rspec

  nginx-build-and-deploy:
   jobs:
      - aws-ecr/build-and-push-image:
        account-url: ${AWS_ECR_ACCOUNT}
        region: ${AWS_REGION}
        repo: 'app_nginx'
        tag: '${CIRCLE_SHA1}'
        only: master
      - aws-ecs/deploy-service-update:
        cluster-name: '${MY_APP_PREFIX}-cluster'
        container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
        family: '${MY_APP_PREFIX}-service'
        requires:
        - aws-ecr/build-and-push-image

    api-build-and-deploy:
      - aws-ecr/build-and-push-image:
        account-url: ${AWS_ECR_ACCOUNT}
        region: ${AWS_REGION}
        repo: 'app_api'
        tag: '${CIRCLE_SHA1}'
        only: master
      - aws-ecs/deploy-service-update:
        cluster-name: '${MY_APP_PREFIX}-cluster'
        container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
        family: '${MY_APP_PREFIX}-service'
        requires:
        - aws-ecr/build-and-push-image

    web-build-and-deploy:
      - aws-ecr/build-and-push-image:
        account-url: ${AWS_ECR_ACCOUNT}
        region: ${AWS_REGION}
        repo: 'app_web'
        tag: '${CIRCLE_SHA1}'
        only: master
      - aws-ecs/deploy-service-update:
        cluster-name: '${MY_APP_PREFIX}-cluster'
        container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=${CIRCLE_SHA1}'
        family: '${MY_APP_PREFIX}-service'
        requires:
        - aws-ecr/build-and-push-image

