version: 2.1

orbs: 
  aws-ecr: circleci/aws-ecr@7.3.0
  aws-ecs: circleci/aws-ecs@2.2.1

executors:
  default:
    docker:
      - image: ${AWS_ECR_ACCOUNT_URL}/app_api
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY	
      # ローカルテスト用
      # - image: app_api:latest
        
jobs:
  build:
    executor: default
    steps:
      - checkout
  syntax-check:
    executor: default
    steps:
      - run:
          name: rubocopの構文規則チェック
          command: rubocop
  test:
    executor: default
    steps:
      - run:
          name: rspecのテスト
          command: rspec
  api-build-and-push:
    executor:
      name: aws-ecr/default
    steps:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          region: AWS_REGION
          dockerfile: ./backend/Dockerfile
          repo: app_api
          tag: '${CIRCLE_SHA1}'
  nginx-build-and-push:
    executor:
      name: aws-ecr/default
    steps:
      - run:
          name: set up environment
          command: |
            echo 'export REACT_APP_AWS_ACCESS_KEY=${REACT_APP_AWS_ACCESS_KEY}' >> $BASH_ENV
            echo 'export REACT_APP_AWS_BUCKET=${REACT_APP_AWS_BUCKET}' >> $BASH_ENV
            echo 'export REACT_APP_AWS_SECRET_KEY=${REACT_APP_AWS_SECRET_KEY}' >> $BASH_ENV
            echo 'export REACT_APP_AWS_REGION=${REACT_APP_AWS_REGION}' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: confirm current Environment Variable at Runtime
          command: |
            echo ${REACT_APP_AWS_REGION}
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          region: AWS_REGION
          dockerfile: ./nginx/Dockerfile
          repo: app_nginx
          tag: '${CIRCLE_SHA1}'

workflows:
  check_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: release
      - syntax-check:
          requires:
            - build
      - test:
          requires:
            - build
  api-build-push-deploy:
    jobs:
      - api-build-and-push:
          filters:
            branches:
              only: main
      - aws-ecs/deploy-service-update:
          requires:
            - api-build-and-push
          family: 'sleepingdebtplan-3'
          cluster-name: '${ESC_CLUSTER_ARN}'
          service-name: 'sleepingdebtplan-service'
          container-image-name-updates: 'container=api,tag=${CIRCLE_SHA1}'
  nginx-build-push-deploy:
    jobs:
      - nginx-build-and-push:
          filters:
            branches:
              only: main
      - aws-ecs/deploy-service-update:
          requires:
            - nginx-build-and-push
          family: 'sleepingdebtplan-3'
          cluster-name: '${ESC_CLUSTER_ARN}'
          service-name: 'sleepingdebtplan-service'
          container-image-name-updates: 'container=nginx,tag=${CIRCLE_SHA1}'
